


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;

}

header .high-score{
    width: 50%;
    text-align: left;
    border: 20px;
}

header .countdown{
    width: 50%;
    text-align: right;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button{
    font-size: 20px;
    padding: 5px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color:white;
    background: navy;
    border-radius: 5px;

}

.hide {
    display: none;
}

p.correct{
    background-color: green;

}

p.wrong{
    background-color: red;
}

.answers-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

